<div class="posts-container column-3 animate-post">

</div>
<div id="content-list">
  <%
    var index = 0;
    var posts = page.posts.filter(function(post){
      if (post.pinned) {%>
        <%-partial('plus_posts', { index: index, post })%>

        <%
        index++;
        return false;
      }
      return true;
    })
  %>
  <% posts.forEach(function(post) {%>
      <%-partial('plus_posts', { index: index, post })%>
  <%
    index++;
  }); %>
</div>
<%-partial('../pagination/index', {base: url_for(config.root), show: theme.pagination })%>
<%-partial('../fab/index')%>
