<div class="userview" style="background-image: url(<%= theme.style.bg_img %>)">
  <div class="overlay">
    <img class="mdui-img-circle avatar" src="<%= theme.style.avatar %>"/>
    <div class="bottom">
      <div class="info">
        <div class="author mdui-text-color-white-text">
          <%= config.author %>
        </div>
        <div class="slogan mdui-text-color-white-secondary">
          <%= theme.style.slogan %>
        </div>
      </div>
      <div class="flex-spacer"></div>
      <% if (theme.pages !== null) { %>
        <div class="button">
          <button class="mdui-btn mdui-ripple mdui-text-color-white-icon" id="drawer-button"><i class="mdui-icon material-icons">&#xe5c5;</i></button>
        </div>
      <% } %>
    </div>
  </div>
</div>
