.animate-appbar {
  -webkit-animation: appbar .3s cubic-bezier(0.0,0.0,0.2,1);
  animation: appbar .3s cubic-bezier(0.0,0.0,0.2,1);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.animate-post {
  -webkit-animation: post .3s cubic-bezier(0.0,0.0,0.2,1);
  animation: post .3s cubic-bezier(0.0,0.0,0.2,1);
}

@media (min-width: 860px) {
  .animate-drawer {
    -webkit-animation: drawer .3s cubic-bezier(0.0,0.0,0.2,1);
    animation: drawer .3s cubic-bezier(0.0,0.0,0.2,1);
    animation-name: drawer;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-delay: initial;
    animation-iteration-count: initial;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
  }
}

@keyframes appbar {
	0% {
		-webkit-transform: translateY(-64px);
		transform: translateY(-64px)
	}
}

@-webkit-keyframes appbar {
	0% {
		-webkit-transform: translateY(-64px);
		transform: translateY(-64px)
	}
}

@keyframes drawer {
	0% {
		-webkit-transform: translateX(-210px);
		transform: translateX(-210px)
	}
}

@-webkit-keyframes drawer {
	0% {
		-webkit-transform: translateX(-210px);
		transform: translateX(-210px)
	}
}

@keyframes post {
	0% {
		-webkit-transform: translateY(15vh);
		transform: translateY(15vh);
		opacity: 0
	}
}

@-webkit-keyframes post {
	0% {
		-webkit-transform: translateY(15vh);
		transform: translateY(15vh);
		opacity: 0
	}
}
