/*!
 * Copyright 2017 Halyul
 */

/* fallback */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v16/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v16/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v16/12mE4jfMSBTmg-81EiS-Yfk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v16/7m8l7TlFO-S3VkhHuR0at44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v16/vPcynSL0qHq_6dX7lKVByfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v16/OLffGBTaF0XFOW1gnuHF0Y4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v16/t6Nd4cfPRhZP44Q5QAjcC44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v16/bmC0pGMXrhphrZJmniIZpY4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  overflow-x: hidden;
}

.toTop {
  height: inherit;
}

.card-bottom-fix {
  margin-bottom: 16px;
}

.no-padding {
  padding: 0;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-margin-bottom ol {
  margin-bottom: 0;
}

.mdui-typo li ol, .mdui-typo li ul {
  margin: 0;
}

.no-text-decoration {
  text-decoration: none;
  color: inherit;
}

.auto-width {
  width: auto;
}

.appbar-border-line {
  height: 32px;
  border-left: 1px solid rgba(255, 255, 255, .2);
}

.appbar-userview {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 0 4px;
  cursor: pointer;
  vertical-align: middle;
}

.appbar-userview:hover .appbar-userview-avatar {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.appbar-userview-avatar {
  width: 24px;
  height: 24px;
}

#menu-userview {
  overflow: visible;
  width: 353px;
}

#menu-userview * {
  line-height: normal;
}

#menu-userview:before {
  position: absolute;
  top: -10px;
  right: 14px;
  display: inline-block;
  content: '';
  border: 0 solid transparent;
  border-width: 0 10px 10px;
  border-bottom-color: #fff;
}

.menu-userview-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  margin: 20px;
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -ms-flex-direction: row;
}

.menu-userview-avatar {
  width: 96px;
  height: 96px;
  margin-right: 20px;
}

.menu-userview-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.menu-userview-content .mdui-typo-body-1 {
  margin-bottom: 1px;
}

.drawer-overlay-none .mdui-overlay-show {
  opacity: 0;
}

.drawer-head {
  height: 64px;
  padding: 0 16px;
}

@media (max-width: 1024px) {
  .drawer-head {
    height: 60px;
  }
}

.flex-spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.drawer-fix {
  width: 300px;
  background-color: #fff;
}

.drawer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -ms-flex-direction: column;
}

#drawer .mdui-divider {
  min-height: 1px;
}

.mdui-drawer-close {
  -webkit-transform: translateX(-120%);
  transform: translateX(-120%);
}

.drawer-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 0;
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.drawer-footer {
  margin: 5px 0 24px 24px;
  -webkit-box-flex: none;
  -ms-flex: none;
  flex: none;
}

#content-list {
  display: none;
}

.posts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin: 16px auto 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media only screen and (min-width: 860px) {
  .posts-container {
    width: 90%;
  }
}

.posts-container .mdui-card {
  max-width: 530px;
}

.posts-container>div {
  box-sizing: border-box;
  padding: 0 8px;
}

.posts-container.column-3>div {
  width: 33%;
}

.posts-container.column-2>div {
  width: 50%;
}

.posts-container.column-1>div {
  width: 100%;
  padding: 0;
}

.column-2 .content-item:nth-child(2) .posts-header {
  display: none !important;
}

.column-1 .content-item:nth-child(n+2) .posts-header {
  display: none !important;
}

.posts-header {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 14px 16px 6px;
  text-align: left;
}

.posts-card-header, .posts-card-actions, .index-welcome, div#gallery .header .descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -ms-flex-direction: row;
}

.posts-card-header .content {
  font-weight: 500;
  margin-right: 16px;
  padding: 0 0 0 2px;
  white-space: nowrap;
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
}

.posts-card-header .content .username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  max-width: 100%;
  margin-left: 6px;
  white-space: nowrap;
}

.posts-card-header .content .arrow {
  width: 18px;
  height: 18px;
  -webkit-box-flex: none;
  -ms-flex: none;
  flex: none;
}

.posts-card-header .content .arrow i {
  font-size: 12px;
}

.posts-card-header .content .mdui-typo-body-1-opacity a, .posts-card-actions .content a {
  margin-right: 6px;
}

#index:hover .posts-card-header .date {
  display: none;
}

.posts-card-header .buttons .mdui-btn {
  opacity: .54;
}

#index .posts-card-header .buttons {
  display: none;
}

#index:hover .posts-card-header .buttons {
  display: inherit;
}

.posts-card-title {
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  display: -webkit-box;
  overflow: hidden;
  max-height: 56px;
  margin: 0 16px 16px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.posts-card-line {
  margin: 0 16px;
}

.posts-card-content {
  font-size: 14px;
  line-height: 20px;
  margin: 16px;
  word-wrap: break-word;
}

.posts-card-actions {
  margin: 16px 8px 0 8px;
  padding-bottom: 16px;
}

.posts-card-actions .mdui-chip, .posts-card-actions .mdui-chip-icon, .index-welcome .mdui-chip, .index-welcome .mdui-chip-icon {
  background: #eee;
}

.posts-card-actions .mdui-chip {
  margin: 0 8px;
}

.posts-card-actions .content a {
  font-size: 12px;
  line-height: 36px;
}

#menu-qrcode .mdui-list-item:hover {
  background-color: transparent;
}

#blog-post {
  display: inline-block;
  width: calc(75% - 24px);
  margin: 16px;
}

#card-toc {
  position: fixed;
  display: inline-block;
  overflow-y: scroll;
  box-sizing: border-box;
  width: calc(25% - 16px);
  height: 75%;
  margin: 16px 16px 8px 0;
  list-style: none;
  vertical-align: top;
  background-color: transparent;
}

#card-toc ul ul {
  padding-left: 16px;
}

@media (max-width: 599px) {
  #blog-post {
    width: 100%;
    margin: 0 0 16px 0;
  }
  #card-toc {
    display: none;
  }
}

.post-comment {
  padding: 12px 16px;
}

.toc {
  padding-right: 1em;
}

#post-content img {
  cursor: pointer;
}

#blog-post.no-toc {
  display: inherit;
  margin: 16px auto;
}

.menu-fix {
  overflow: visible;
}

.mdui-typo table {
  display: block;
  overflow: auto;
}

#archives {
  max-width: 530px;
  text-align: center;
}

@media (min-width: 500px) {
  #archives {
    width: 95%;
  }
}

@media (min-width: 650px) {
  #archives {
    width: 85%;
  }
}

#archives .header .content {
  position: relative;
  z-index: 1;
}

#archives .header .content .avatar {
  width: 60px;
  margin-top: -30px;
}

#archives .header .content .name {
  font-size: 30px;
  font-weight: 500;
  margin-top: 16px;
  word-break: break-word;
}

#archives .header .content .slogan {
  font-size: 14px;
  margin-top: 16px;
}

#archives .header .content button {
  margin-top: 24px;
}

#archives .items .title {
  font-size: 16px;
  font-weight: 500;
  margin: 32px 16px 16px;
  text-align: left;
}

#archives .items .content {
  height: 80px;
  padding: 0 16px 16px;
  text-align: left;
}

#archives .items .content.no-length {
  height: 63px;
  padding: 0 16px 16px;
  text-align: left;
}

#archives .items .content .avatar {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -12px;
}

#archives .items .content .category {
  font-size: 16px;
  line-height: 20px;
  max-height: 40px;
  margin-top: 4px;
  word-break: break-word;
}

#archives .items .content .length {
  font-size: 12px;
  overflow: hidden;
  margin-top: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

@media only screen and (min-width: 440px) {
  #archives {
    width: 95%;
    margin: 0 auto;
  }
  #archives .items .title {
    margin: 32px 0 16px 0;
  }
}

@media only screen and (min-width: 1024px) {
  #archives {
    max-width: 1084px;
  }
  #archives .header, #archives .header .mdui-img-fluid {
    border-radius: 2px;
  }
  #archives .header {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    overflow: hidden;
  }
  #archives .header .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    height: 60px;
    margin-top: -108px;
    padding: 24px;
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .46));
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .46));
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
    -ms-flex-direction: row;
    background-color: transparent !important;
  }
  #archives .header .content .avatar {
    margin-top: 0;
  }
  #archives .header .content .info {
    margin-left: 24px;
  }
  #archives .header .content .name {
    margin-top: 0;
    color: #fff;
    text-align: left;
  }
  #archives .header .content .slogan {
    margin-top: 8px;
    color: #fff;
    text-align: left;
  }
  #archives .items .title {
    margin: 32px 0 24px 0;
  }
}

body.side-content {
  padding-left: 30%;
}

body #blog-appbar button.style-fix {
  display: none;
}

#side-content {
  position: fixed;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 99;
}

@media only screen and (min-width: 1280px) {
  body.side-content {
    padding-left: 24%;
  }
  #side-content {
    width: 24%;
  }
}

@media (min-width: 1500px) {
  body.side-content {
    padding-left: 368px;
  }
  #side-content {
    width: 368px;
  }
}

#side-content .mdui-grid-tile {
  margin-bottom: 0;
}

#side-content .content {
  margin: 0 32px;
  padding-bottom: 24px;
  text-align: center;
}

#side-content .content .avatar {
  position: relative;
  width: 48px;
  height: 48px;
  margin-top: -25px;
  border: #fff 1px solid;
}

#side-content .content .author {
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 20px;
}

#side-content .content .name {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  max-height: 105px;
  margin-bottom: -6px;
}

#side-content .content .length {
  font-size: 12px;
  font-weight: 400;
  margin-top: 14px;
  opacity: .54;
}

@media (max-width: 860px) {
  body.side-content {
    padding-top: 0;
    padding-left: 0;
  }
  body.style-fix #blog-appbar {
    box-shadow: none;
  }
  body.style-fix #blog-appbar .mdui-color-theme {
    color: #000 !important;
    background-color: rgba(0, 0, 0, .1) !important;
  }
  body.side-content #blog-appbar .appbar-border-line, body.side-content #blog-appbar .mdui-typo-headline, body.side-content #blog-appbar .appbar-userview {
    display: none !important;
  }
  body.side-content #blog-appbar .mdui-typo-title {
    display: none;
    width: 100%;
  }
  body.side-content #blog-appbar button.style-fix, body #blog-appbar.style-fix .mdui-typo-title {
    display: inherit !important;
  }
  body.side-content #blog-appbar .mdui-toolbar-spacer {
    height: inherit;
  }
  body.side-content #blog-appbar .search-button {
    display: none;
  }
  #side-content {
    position: inherit;
    width: 100%;
    height: auto;
  }
  #side-content .mdui-grid-tile-actions {
    display: none;
  }
}

@media (max-width: 859px) and (min-width: 660px) {
  #side-content .content {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 859px) and (min-width: 370px) {
  #side-content .bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 30%;
    height: 30vw;
    min-height: 200px;
    max-height: 250px;
    -webkit-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media only screen and (min-width: 860px) {
  #side-content .content {
    margin: 0 24px;
    text-align: left;
  }
  #side-content .content .author {
    width: 50px;
  }
}


/* 添加在<a>中 */

.menu-badge {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

span.badge {
  font-size: 1rem;
  line-height: 22px;
  float: right;
  box-sizing: border-box;
  min-width: 3rem;
  height: 22px;
  margin-left: 14px;
  padding: 0 6px;
  text-align: center;
  color: #757575;
}

span.badge.new {
  font-size: .8rem;
  font-weight: 300;
  color: #fff;
  border-radius: 2px;
  background-color: #26a69a;
}

span.badge.new:after {
  content: ' new';
}

span.badge[data-badge-caption]::after {
  content: ' ' attr(data-badge-caption);
}

.collection-item span.badge {
  margin-top: calc(.75rem - 11px);
}

.collapsible span.badge {
  margin-top: calc(1.5rem - 11px);
}

.side-nav span.badge {
  margin-top: calc(24px - 11px);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination li {
  display: inline-block;
  height: 30px;
  text-align: center;
  vertical-align: top;
  border-radius: 2px;
}

.pagination li a {
  font-size: 1.2rem;
  line-height: 30px;
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
  color: #444;
}

.pagination li i {
  font-size: 2rem;
}

@media only screen and (max-width: 992px) {
  .pagination {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .mdui-appbar .mdui-toolbar>.appbar-userview {
    margin: 0 8px;
  }
}

@media (max-width: 1023px) {
  .mdui-drawer {
    width: 300px;
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
  }
}

#aboutmeDialog.mdui-dialog {
  overflow: auto;
  width: auto;
  min-width: 0;
  max-width: 528px;
  height: 100%;
  max-height: 100%;
  border-radius: 2px;
  background-color: transparent;
  box-shadow: none;
}

@media (min-width: 600px) {
  #aboutmeDialog.mdui-dialog {
    max-height: 100%;
  }
}

#aboutmeAppbar {
  display: none;
  min-width: 0;
  max-width: 528px;
  margin-right: auto;
  margin-left: auto;
}

#aboutmeAppbar.style-fix {
  z-index: 9999;
  display: inherit;
}

#aboutmeAppbar .avatar {
  width: 40px;
  height: 40px;
  margin: 8px 0 8px 20px;
}

#aboutmeAppbar .title {
  font-size: 20px;
  font-weight: 400;
  padding: 0 16px;
}

#aboutmeDialog .card-bottom-fix {
  margin-bottom: 8px;
}

#aboutmeDialog .card1 {
  overflow: visible;
  padding-top: 70px;
  padding-bottom: 24px;
  margin-top: 224px;
}

#aboutmeDialog .card1 .avatar {
  position: absolute;
  top: 0;
  left: 50%;
  width: 128px;
  height: 128px;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  border: 2px solid #fff;
}

#aboutmeDialog .card1 .content .name {
  font-size: 20px;
  font-weight: 400;
  margin-top: 16px;
  padding: 0 16px;
}

#aboutmeDialog .card1 .content .others {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  margin-top: 16px;
}

#aboutmeDialog .card1 .content .others .slogan {
  margin-top: 6px;
  padding: 0 16px;
}

#aboutmeDialog .card1 .content .others .items {
  margin-top: 12px;
  padding: 0 16px;
}

#aboutmeDialog .card-others .main {
  padding: 24px 24px 0 24px;
}

#aboutmeDialog .card-others .title {
  font-size: 20px;
  font-weight: 500;
}

#aboutmeDialog .card-others .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}

#aboutmeDialog .card-others .item .img {
  width: 46px;
  height: 46px;
  margin: auto 24px auto 0;
}

#aboutmeDialog .card-others .item .iTitle {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  opacity: .54;
}

#aboutmeDialog .card-others .item .iContent, #aboutmeDialog .card-others .item.link .iTitle, #aboutmeDialog .card-others .item .iContent_1 {
  opacity: .87;
}

#aboutmeDialog .card-others .item .iContent, #aboutmeDialog .card-others .mdui-collapse-item-header .mdui-list-item-content {
  font-size: 16px;
  font-weight: 400;
}

#aboutmeDialog .card-others .item .iContent_1 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
}

#aboutmeDialog .card-others .item.link {
  cursor: pointer;
}

#aboutmeDialog .card-others .item.link .img, #aboutmeDialog .card-others .item .icon {
  width: 24px;
  height: 24px;
  margin: auto 20px auto 0;
}

#aboutmeDialog .card-others .item.link .iTitle {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

#aboutmeDialog .card-others .item.link .iContent {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
  opacity: .54;
}

#aboutmeDialog .card-others .item.one-line {
  height: 46px;
}

#aboutmeDialog .card-others .item.one-line .iTitle {
  font-size: 16px;
  font-weight: 400;
  margin: auto 0;
}

#aboutmeDialog .card-others .item.one-line .iContent {
  display: none;
}

#aboutmeDialog .card-others .item.one-line .iContent_1 {
  display: none;
}

#aboutmeDialog .card-others .mdui-collapse-item-body {
  padding: 0 24px;
}

@media (max-width: 528px) {
  #aboutmeDialog .card-others {
    margin: 8px;
  }
  #aboutmeDialog .card-others .item .s_img {
    margin: auto 32px auto 0;
  }
  #aboutmeDialog .card-others .main {
    padding: 16px 16px 0 16px;
  }
  #aboutmeDialog .card-others .mdui-collapse-item-body {
    padding: 0 16px;
  }
}

#aboutmeDialog .card-others .mdui-collapse-item-header {
  height: 64px;
}

#aboutmeDialog .card-others .mdui-collapse-item-header .mdui-collapse-item-arrow {
  height: 24px;
  margin: auto 20px auto 24px;
}

#aboutmeDialog .card-others .mdui-collapse-item.hide-more span[moreButton-more] {
  display: none;
}

#aboutmeDialog .card-others .mdui-collapse-item.hide-less span[moreButton-less] {
  display: none;
}

#friends-page {
  max-width: 530px;
  margin: 0 auto 16px auto;
}

.friends-title {
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  min-width: 0;
  margin: 16px 16px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.friends-container {
  margin-top: 16px;
}

.friends-container a {
  text-decoration: none;
}

.friends-container .content {
  padding: 0 16px;
  text-align: center;
}

.friends-container .content .avatar {
  display: block;
  width: 90px;
  height: 90px;
  margin: 24px auto 12px;
  border-radius: 50%;
}

.friends-container .content .name {
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  overflow: hidden;
  overflow: hidden;
  max-width: 100%;
  max-height: 40px;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.friends-container .content .descr {
  font-size: 14px;
  vertical-align: middle;
}

.friends-container .content .spacer {
  height: 36px;
}

@media only screen and (min-width: 1024px) {
  #friends-page {
    max-width: 1084px;
  }
}

#blog-appbar .search {
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  max-width: 720px;
  height: 48px;
  margin-right: 36px;
  margin-left: 48px;
  cursor: text;
  opacity: .75;
  border-radius: 3px;
  background: rgba(255, 255, 255, .15);
  -webkit-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

#blog-appbar .search .icon {
  margin: auto 8px;
}

#blog-appbar .search .text {
  font-size: 16px;
  margin: auto;
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

#blog-appbar .search .text input {
  width: 100%;
  color: #fff;
  border: 0;
  outline: none;
  background: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#blog-appbar .search .text input::-webkit-input-placeholder {
  color: #fff;
}

#blog-appbar .search .text input:-ms-input-placeholder {
  color: #fff;
}

#blog-appbar .search .text input::placeholder {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  #blog-appbar .search {
    margin: 0 12px;
  }
}

#search .result {
  max-height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

#search .footer, #galleries .footer {
  margin: 16px;
}

@media only screen and (min-width: 601px) {
  #search .footer, #galleries .footer {
    margin: 32px;
  }
}

div#blog-appbar .logo {
  margin-left: 12px;
  width: 24px;
  height: 24px;
}

div#galleries {
  margin: 4px auto 0 auto;
}

div#galleries [class*="mdui-col-xs-"], [class*="mdui-col-sm-"], [class*="mdui-col-md-"], [class*="mdui-col-lg-"], [class*="mdui-col-xl-"], .mdui-col {
  padding-right: 4px;
  padding-left: 4px;
}

div#galleries .container {
  max-width: 530px;
  margin: 0 auto;
}

div#galleries .container .item {
  width: calc(50% - 2px);
  height: auto;
}

div#galleries .container .item .bg {
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: padding-box;
  background-attachment: scroll;
  box-sizing: border-box;
  min-height: 210px;
  max-height: 278px;
  border-radius: 2px;
}

div#galleries .container .item .mdui-grid-tile-text {
  overflow: visible;
}

div#galleries .container .item .mdui-grid-tile-actions {
  max-height: none;
}

div#galleries .container .item .mdui-img-circle.logo {
  position: relative;
  margin-top: -12px;
}

div#galleries .container .item .mdui-img-circle.logo, div#gallery .header .descr .mdui-img-circle.logo {
  width: 24px;
  height: 24px;
}

div#galleries .container .item .mdui-grid-tile-title {
  height: auto;
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

div#galleries .container .item .mdui-grid-tile-subtitle {
  height: auto;
  margin: 0px;
  font-weight: 400;
  font-size: 12px;
}

@media only screen and (min-width: 440px) {
  div#galleries {
    margin: 16px auto 0 auto;
    padding: 0;
    width: 95%;
  }
  div#galleries [class*="mdui-col-xs-"], [class*="mdui-col-sm-"], [class*="mdui-col-md-"], [class*="mdui-col-lg-"], [class*="mdui-col-xl-"], .mdui-col {
    padding-right: 8px;
    padding-left: 8px;
  }
  div#galleries .container .item {
    max-width: 257px;
  }
}

@media (max-width: 440px) {
  div#galleries .card-bottom-fix {
    margin-bottom: 8px;
  }
}

@media (min-width: 500px) {
  div#galleries {
    width: 92%;
  }
}

@media (min-width: 650px) {
  div#galleries {
    width: 85%;
  }
}

@media only screen and (min-width: 1024px) {
  div#galleries .container {
    max-width: 1084px;
  }
}

div#blog-appbar.gallery-fix .appbar-border-line, div#blog-appbar.gallery-fix .mdui-typo-title {
  display: none;
}

div#gallery .header {
  margin: 0 32px 0 200px;
}

div#gallery .header .title {
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
}

div#gallery .header .descr .mdui-img-circle.logo {
  margin-right: 8px;
}

div#gallery .container {
  padding: 32px 32px 32px 200px;
}

div#gallery .container a {
  display: inline-block;
}

div#gallery .container a img {
  height: auto;
  width: auto;
  margin-bottom: 5px;
  margin-right: 5px;
  max-height: 220px;
}

@media (max-width: 600px) {
  div#gallery .header {
    margin: 0;
    padding: 0 8px;
  }
  div#gallery .container {
    padding: 32px 0 0 0;
  }
}

.lg-outer {
    z-index: 5050;
}

.lg-toolbar {
  background-color: transparent;
  background-image: -webkit-linear-gradient(0deg,rgba(0,0,0,0),rgba(0,0,0,0.4));
  background-image: linear-gradient(0deg,rgba(0,0,0,0),rgba(0,0,0,0.4));
}

.lg .mdui-btn-icon {
  width: 48px;
  height: 48px;
  color: rgba(255,255,255,.54);
}

.mdui-theme-layout-dark .lg .mdui-btn-icon {
  width: 48px;
  height: 48px;
  color: rgba(0,0,0,.54);
}

#lg-counter {
  padding: 0;
}

.lg-toolbar .mdui-btn-icon.lg-close {
  margin-left: 8px;
}

.lg-toolbar .lg-fullscreen i.fullscreen_exit {
  display: none;
}

.lg-fullscreen-on .lg-toolbar .lg-fullscreen i.fullscreen {
  display: none;
}

.lg-fullscreen-on .lg-toolbar .lg-fullscreen i.fullscreen_exit {
  display: inherit;
}

.lg-toolbar .lg-autoplay-button i.pause {
  display: none;
}

.lg-show-autoplay .lg-toolbar .lg-autoplay-button i.play {
  display: none;
}

.lg-show-autoplay .lg-toolbar .lg-autoplay-button i.pause {
  display: inherit;
}

.lg-actions .lg-next, .lg-actions .lg-prev {
    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;
    font-size: 22px;
    margin-top: -24px;
    padding: 0;
}

.lg-actions .lg-next:hover, .lg-actions .lg-prev:hover {
    background-color: rgba(0,0,0,0.4) !important;
}

.mdui-theme-layout-dark .lg-toggle-thumb.mdui-btn:hover,  .mdui-theme-layout-dark .lg-toggle-thumb.mdui-btn:not(.mdui-ripple):active {
  background-color: #0D0A0A !important;
}

.lg-toolbar .lg-close:after, .lg-actions .lg-prev:after, .lg-actions .lg-next:after, .lg-actions .lg-next:before, .lg-toolbar .lg-download:after, #lg-zoom-in:after, #lg-zoom-out:after, #lg-actual-size:after, .lg-fullscreen:after, .lg-fullscreen-on .lg-fullscreen:after, .lg-autoplay-button:after, .lg-show-autoplay .lg-autoplay-button:after, .lg-outer .lg-toggle-thumb:after {
  content: '';
}

.lg-sub-html {
  text-align: left;
  font-size: 14px;
  padding: 16px;
  background-color: rgba(0,0,0,0);
  background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.4));
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.4));
}

.lg-sub-html span[author] {
  font-weight: 700;
}

.lg-sub-html div[descr] {
  margin-top: 8px;
}

#blog-appbar.animate {
  -webkit-animation: appbar .3s cubic-bezier(0.0,0.0,0.2,1);
  animation: appbar .3s cubic-bezier(0.0,0.0,0.2,1);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#blog-post.animate, .posts-container.animate, #card-toc.animate, #archives.animate, #friends-page.animate, #galleries.animate, #gallery.animate {
  -webkit-animation: post .3s cubic-bezier(0.0,0.0,0.2,1);
  animation: post .3s cubic-bezier(0.0,0.0,0.2,1);
}

@media (min-width: 1024px) {
  #drawer.animate, #side-content.animate {
    -webkit-animation: drawer .3s cubic-bezier(0.0,0.0,0.2,1);
    animation: drawer .3s cubic-bezier(0.0,0.0,0.2,1);
    animation-name: drawer;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-delay: initial;
    animation-iteration-count: initial;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
  }
}

@keyframes appbar {
	0% {
		-webkit-transform: translateY(-64px);
		transform: translateY(-64px)
	}
}

@-webkit-keyframes appbar {
	0% {
		-webkit-transform: translateY(-64px);
		transform: translateY(-64px)
	}
}

@keyframes drawer {
	0% {
		-webkit-transform: translateX(-210px);
		transform: translateX(-210px)
	}
}

@-webkit-keyframes drawer {
	0% {
		-webkit-transform: translateX(-210px);
		transform: translateX(-210px)
	}
}

@keyframes post {
	0% {
		-webkit-transform: translateY(15vh);
		transform: translateY(15vh);
		opacity: 0
	}
}

@-webkit-keyframes post {
	0% {
		-webkit-transform: translateY(15vh);
		transform: translateY(15vh);
		opacity: 0
	}
}
