<div class="drawer-head mdui-valign <% if (!is_category() && !is_tag() && !is_year()) { %>mdui-hidden-md-up<% } %>">
  <div class="mdui-typo-title-opacity"><%= theme.appbar.title %></div>
  <div class="flex-spacer"></div>
  <button class="mdui-btn mdui-btn-icon mdui-ripple" mdui-drawer-close><i class="mdui-icon material-icons">&#xe314;</i></button>
</div>
