<div class="mdui-toolbar mdui-color-theme">
  <button class="mdui-btn mdui-btn-icon back-button style-1-card-actions"><i class="mdui-icon material-icons">&#xe5c4;</i></button>
  <span class="mdui-typo-title"><%= theme.translations.archives %></span>
  <div class="mdui-toolbar-spacer"></div>
  <button class="mdui-btn mdui-ripple mdui-float-right" mdui-menu="{target: '#menu-archives-pages'}"><%= theme.translations.pages %></button>
  <%- partial('../menu/archives_pages') %>
</div>
