<div class="mdui-card-actions mdui-valign style-1-card-actions">
    <button class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-ripple back-button">
      <i class="mdui-icon material-icons">&#xe5c4;</i>
    </button>
    <span class="mdui-typo-headline"><%= theme.translations.go_to_prev_page %></span>
    <div style="flex-grow:1"></div>
    <a href="<%= config.root %>" class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-ripple "><i class="mdui-icon material-icons">&#xe88a;</i></a>
</div>
