<div class="mdui-dialog" id="aboutmeDialog">
  <div class="mdui-card">
    <div class="mdui-card-primary">
      <div class="mdui-card-primary-title">Title</div>
      <div class="mdui-card-primary-subtitle">Subtitle</div>
    </div>
    <div class="mdui-card-content">子曰：「学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知，而不愠，不亦君子乎？」</div>
  </div>
</div>
