<div class="mdui-card">
  <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script>
  <script>
      function wordCloud(selector) {
          var fill = d3.scale.category20();
          var svg = d3.select(selector).append("svg")
              .attr("width", 500)
              .attr("height", 500)
              .append("g")
              .attr("transform", "translate(250,250)");
          function draw(words) {
              var cloud = svg.selectAll("g text")
                  .data(words, function (d) { return d.text; })
              cloud.enter()
                  .append("text")
                  .style("font-family", "Robot")
                  .style("fill", function (d, i) { return fill(i); })
                  .attr("text-anchor", "middle")
                  .attr('font-size', 1)
                  .text(function (d) { return d.text; });
              cloud
                  .transition()
                  .duration(600)
                  .style("font-size", function (d) { return d.size + "px"; })
                  .attr("transform", function (d) {
                      return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                  })
                  .style("fill-opacity", 1);
              cloud.exit()
                  .transition()
                  .duration(200)
                  .style('fill-opacity', 1e-6)
                  .attr('font-size', 1)
                  .remove();
          }
          return {
              update: function (words) {
                  d3.layout.cloud().size([500, 500])
                      .words(words)
                      .padding(5)
                      .rotate(function () { return ~~(Math.random() * 2) * 90; })
                      .font("Impact")
                      .fontSize(function (d) { return d.size; })
                      .on("end", draw)
                      .start();
              }
          }
      }
      var words = [
          "<% site.tags.map(function(tag){  %><%= tag.name %> <% }) %>"
      ]
      function getWords(i) {
          return words[i]
              .replace(/[!\.,:;\?]/g, '')
              .split(' ')
              .map(function (d) {
                  return { text: d, size: 10 + Math.random() * 60 };
              })
      }
      function showNewWords(vis, i) {
          i = i || 0;
          vis.update(getWords(i++ % words.length))
          setTimeout(function () { showNewWords(vis, i + 1) }, 5000)
      }
      var myWordCloud = wordCloud('div.mdui-card');
      showNewWords(myWordCloud);
      var resizeTimer=null;
      $(document).ready(function () {
          var dom = $("svg").css({
              "margin": "0px auto",
              "min-width": "500px",
          });
          $("svg").parent().css({
              "display": "flex",
              "justify-content": "center"
          })
          $(window).resize(function () {
              if(resizeTimer){
                  clearTimeout(resizeTimer)
              }
              resizeTimer=setTimeout(function(){
                  var scale = $("svg").parent().width() / 500;
                  if (scale > 1) {
                      scale = 1;
                  }
                  $("svg").css({
                      "transform": "scale(" + scale + "," + scale + ")"
                  })
              },50);
          })
      })
  </script>
</div>
