<div id="galleries" class="mdui-container-fluid">
  <div class="container mdui-row">
    <div class="mdui-col-xs-6 mdui-col-md-3">
      <a href="test" target="_self" class="no-text-decoration item">
        <div class="mdui-grid-tile card-bottom-fix">
          <img src="/img/bg.png"/>
          <div class="mdui-grid-tile-actions">
            <div class="mdui-grid-tile-text">
              <div class="mdui-grid-tile-title">Halcyon Days</div>
              <div class="mdui-grid-tile-subtitle"><i class="mdui-icon material-icons">&#xe3ec;</i>Ellie Goulding</div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="mdui-col-xs-6 mdui-col-md-3">
      <a href="test" target="_self" class="no-text-decoration item">
        <div class="mdui-grid-tile card-bottom-fix">
          <img src="/img/bg.png"/>
          <div class="mdui-grid-tile-actions">
            <div class="mdui-grid-tile-text">
              <div class="mdui-grid-tile-title">Halcyon Days</div>
              <div class="mdui-grid-tile-subtitle"><i class="mdui-icon material-icons">&#xe3ec;</i>Ellie Goulding</div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="mdui-col-xs-6 mdui-col-md-3">
      <a href="test" target="_self" class="no-text-decoration item">
        <div class="mdui-grid-tile card-bottom-fix">
          <img src="/img/bg.png"/>
          <div class="mdui-grid-tile-actions">
            <div class="mdui-grid-tile-text">
              <div class="mdui-grid-tile-title">Halcyon Days</div>
              <div class="mdui-grid-tile-subtitle"><i class="mdui-icon material-icons">&#xe3ec;</i>Ellie Goulding</div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="mdui-col-xs-6 mdui-col-md-3">
      <a href="test" target="_self" class="no-text-decoration item">
        <div class="mdui-grid-tile card-bottom-fix">
          <img src="/img/bg.png"/>
          <div class="mdui-grid-tile-actions">
            <div class="mdui-grid-tile-text">
              <div class="mdui-grid-tile-title">Halcyon Days</div>
              <div class="mdui-grid-tile-subtitle"><i class="mdui-icon material-icons">&#xe3ec;</i>Ellie Goulding</div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="footer">
    <div class="mdui-text-center mdui-text-color-theme-text">
      <%= __('search.footer') %>
    </div>
  </div>
</div>
