<li class="mdui-list-item mdui-ripple">
  <a href="//github.com/Halyul/hexo-theme-mdui" target="_blank" class="mdui-list-item-content">
    <span>
        <%= __('misc.theme') %> - MDUI
    </span>
    <i class="mdui-icon material-icons mdui-float-right">&#xe88f;</i>
  </a>
</li>
