<% if (theme.drawer.counter.enable === true) { %>
<li class="mdui-list-item mdui-ripple">
  <div class="mdui-list-item-content mdui-text-center">
    本站已稳定运行<br/>
    <span id="website_time"></span>
  </div>
  <script>
    function show_date_time() {
      window.setTimeout("show_date_time()", 1000);
      BirthDay = new Date("<%= theme.drawer.counter.date %>");
      today = new Date();
      timeold = (today.getTime() - BirthDay.getTime());
      sectimeold = timeold / 1000
      secondsold = Math.floor(sectimeold);
      msPerDay = 24 * 60 * 60 * 1000
      e_daysold = timeold / msPerDay
      daysold = Math.floor(e_daysold);
      e_hrsold = (e_daysold - daysold) * 24;
      hrsold = Math.floor(e_hrsold);
      e_minsold = (e_hrsold - hrsold) * 60;
      minsold = Math.floor((e_hrsold - hrsold) * 60);
      seconds = Math.floor((e_minsold - minsold) * 60);
      website_time.innerHTML = daysold + " 天 " + hrsold + " 小时 " + minsold + " 分 " + seconds + " 秒";
    }
    show_date_time();
  </script>
</li>
<% if (theme.drawer.counter.progress_bar === true) { %>
<div class="mdui-progress">
  <div class="mdui-progress-indeterminate"></div>
</div>
<% } %>
<% } %>
