<div class="theme-404 mdui-valign">
  <div class="mdui-center">
    <i class="mdui-icon material-icons mdui-center theme-404__error">&#xe001;</i>
    <div class="theme-404__button">
      <a href="<%= config.root %>" class="mdui-btn mdui-btn-dense mdui-color-theme-accent mdui-ripple mdui-center">
        <%= '404 - ' + __('global.pgnf_button') %>
      </a>
    </div>
  </div>
</div>
<script type="text/javascript">
  document.title = '404 - <%= config.title %>'
</script>
