<div class="posts-container column-3">

</div>
<div id="content-list" class="animate-post">
  <% page.posts.each(function(post,index) {%>
    <div class="content-item">
      <%-partial('_partials/posts', { post: post })%>
    </div>
  <% }); %>
</div>

<%-partial('_partials/pagination/index', {base: url_for(config.root) +  'categories/' + page.category + '/', show: theme.pagination })%>

<%-partial('_partials/fab/index')%>
