<div class="theme-post">
  <article class="mdui-card">

    <section class="mdui-card-content mdui-typo">
      <%-page.content%>
    </section>

  </article>

  <%-partial('_partials/pagination/post')%>
</div>
