<% if (theme.search === true) { %>
  <div class="theme-search">
    <div class="theme-search__textfield">
      <div class="mdui-textfield mdui-textfield-floating-label">
        <i class="mdui-icon material-icons">&#xe8b6;</i>
        <label class="mdui-textfield-label"><%= __('search.text') %></label>
        <textarea class="mdui-textfield-input" id="search-field"></textarea>
      </div>
    </div>
    <div id="search-result">

    </div>
    <%-partial('_partials/fab/index')%>
  </div>
  <%-partial('_partials/js/search')%>
<% } %>
