<%- cssLsload({path:(config.root + 'css/src/plus/search.min'),key: 'search_css'}) %>
<%- cssLsload({path:(config.root + 'css/src/plus/index.min'),key: 'index_css'}) %>
<div id="search">
  <div class="posts-container column-3">

  </div>

  <div id="content-list" searchResult>

  </div>

  <div class="footer">
    <div class="mdui-text-center mdui-text-color-theme-text">
      <%= __('search.footer') %>
    </div>
  </div>
</div>
