<div class="theme-tags">
  <div class="theme-posts">
    <% var position = 0 %>
    <% page.posts.forEach(function(post) {%>
        <%-partial('_partials/posts', { position: position, post })%>
    <%
      position++;
    }); %>
  </div>
  <%-partial('_partials/fab/index')%>
  <%-partial('_partials/pagination/index')%>
</div>
<%-partial('_partials/js/index')%>
