<div class="theme-tags">
  <% page.posts.each(function(post) {%>
    <%-partial('_partials/posts', { post: post })%>
  <% }); %>
  <%-partial('_partials/fab/index')%>
  <%-partial('_partials/pagination/index')%>
</div>
