#index .parallax {
  height: 32vh;
}
#index .parallax #parallaxImg {
  width: 100%;
  height: 150%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: padding-box;
  background-attachment: scroll;
}
