#index .faviconImg {
  margin-right: auto;
  margin-left: auto;
  width: 12%;
  height: auto;
  margin-bottom: 16px;
}

#index #search, #posts {
  width: 75%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  #index .faviconImg {
    width: 16%;
  }
  #index #search, #posts {
    width: 95%;
  }
}

#index #search .mdui-toolbar {
  overflow: visible;
}

#index #search .mdui-toolbar .mdui-toolbar-spacer {
  height: 100%;
}
