div#index {
  margin-bottom: 48px;
}

#index .faviconImg {
  margin-right: auto;
  margin-left: auto;
  width: 12%;
  height: auto;
  margin-bottom: 16px;
}

#index #search, #posts {
  width: 75%;
  margin: 0 auto;
}

@media (max-width: 599px) {
  #index .faviconImg {
    width: 16%;
  }
  #index #search, #posts {
    width: 95%;
  }
}

#index #search {
  height: 56px;
}

#index #search .mdui-toolbar .drawer-button, #index #search .mdui-toolbar button.close, #index #search .mdui-toolbar .search, #index #search .mdui-toolbar.search-cover-active button:not(.close), #index #search .mdui-toolbar.search-cover-active .mdui-toolbar-spacer  {
  display: none;
}

#index #search .mdui-toolbar.search-cover-active button.close, #index #search .mdui-toolbar.search-cover-active .search {
  display: inherit;
}

#index #search .logo {
  width: 32px;
  height: 32px;
}

#index #search .fixedTop .drawer-button {
  display: inherit;
}

#index #search .mdui-toolbar.fixedTop {
  position: fixed;
  width: auto;
  left: 0px;
  top: 0px;
  right: 0px;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

#index #search .mdui-toolbar #search-btn .mdui-typo-subheading-opacity {
  padding-left: 16px;
}

#index #search .mdui-toolbar.fixedTop #search-btn .mdui-typo-subheading-opacity {
  padding-left: 0;
}

#index #search .mdui-toolbar {
  overflow: visible;
  z-index: 1500;
}

#index #search .mdui-toolbar .mdui-toolbar-spacer {
  height: 100%;
}

#search-cover {
  position: fixed;
  padding-top: 72px;
  height: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  background: #fff;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  overflow-y: auto;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  body.mdui-drawer-body-left #search-cover {
    margin-left: 300px;
  }
}

#search-cover.active {
  z-index: 1499;
  pointer-events: inherit;
  opacity: 1;
  background-color: rgba(255,255,255,0.8);
}

.mdui-theme-layout-dark #search-cover.active {
  background-color: rgba(0,0,0,0.8);
}

#index #search .search {
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  margin-left: 14px;
  cursor: text;
  border-radius: 3px;
  -webkit-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  opacity: 1;
}

#index #search .search .icon {
  margin: auto 8px;
}

#index #search .search .text {
  font-size: 16px;
  margin: auto;
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

#index #search .search .text input {
  width: 100%;
  color: #fff;
  border: 0;
  outline: none;
  background: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#index #search .search .text input::-webkit-input-placeholder, #index #search .search .text input::-webkit-input-placeholder {
  color: #fff;
}

#index #search .search .text input:-ms-input-placeholder {
  color: #fff;
}

#search-cover .result {
  max-height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

#search-cover .mdui-card {
  margin: 0 12.5% 16px 12.5%;
}

@media only screen and (max-width: 599px) {
  #index #search .search {
    margin: 0 12px;
  }
  #search-cover .mdui-card {
    margin: 0 2.5% 16px 2.5%;
  }
}

/* color settings */

.mdui-theme-layout-dark #search button span, .mdui-theme-layout-dark #search button span:before, .mdui-theme-layout-dark #search button span:after,
.mdui-theme-primary-blue #search .mdui-color-theme button span, .mdui-theme-primary-blue #search .mdui-color-theme button span:before, .mdui-theme-primary-blue #search .mdui-color-theme button span:after,
.mdui-theme-primary-blue-grey #search .mdui-color-theme button span, .mdui-theme-primary-blue-grey #search .mdui-color-theme button span:before, .mdui-theme-primary-blue-grey #search .mdui-color-theme button span:after,
.mdui-theme-primary-brown #search .mdui-color-theme button span, .mdui-theme-primary-brown #search .mdui-color-theme button span:before, .mdui-theme-primary-brown #search .mdui-color-theme button span:after,
.mdui-theme-primary-deep-orange #search .mdui-color-theme button span, .mdui-theme-primary-deep-orange #search .mdui-color-theme button span:before, .mdui-theme-primary-deep-orange #search .mdui-color-theme button span:after,
.mdui-theme-primary-deep-purple #search .mdui-color-theme button span, .mdui-theme-primary-deep-purple #search .mdui-color-theme button span:before, .mdui-theme-primary-deep-purple #search .mdui-color-theme button span:after,
.mdui-theme-primary-indigo #search .mdui-color-theme button span, .mdui-theme-primary-indigo #search .mdui-color-theme button span:before, .mdui-theme-primary-indigo #search .mdui-color-theme button span:after,
.mdui-theme-primary-pink #search .mdui-color-theme button span, .mdui-theme-primary-pink #search .mdui-color-theme button span:before, .mdui-theme-primary-pink #search .mdui-color-theme button span:after,
.mdui-theme-primary-purple #search .mdui-color-theme button span, .mdui-theme-primary-purple #search .mdui-color-theme button span:before, .mdui-theme-primary-purple #search .mdui-color-theme button span:after,
.mdui-theme-primary-red #search .mdui-color-theme button span, .mdui-theme-primary-red #search .mdui-color-theme button span:before, .mdui-theme-primary-red #search .mdui-color-theme button span:after,
.mdui-theme-primary-teal #search .mdui-color-theme button span, .mdui-theme-primary-teal #search .mdui-color-theme button span:before, .mdui-theme-primary-teal #search .mdui-color-theme button span:after {
  background-color: #fff;
}

.mdui-theme-primary-amber #search .mdui-color-theme button span, .mdui-theme-primary-amber #search .mdui-color-theme button span:before, .mdui-theme-primary-amber #search .mdui-color-theme button span:after,
.mdui-theme-primary-cyan #search .mdui-color-theme button span, .mdui-theme-primary-cyan #search .mdui-color-theme button span:before, .mdui-theme-primary-cyan #search .mdui-color-theme button span:after,
.mdui-theme-primary-green #search .mdui-color-theme button span, .mdui-theme-primary-green #search .mdui-color-theme button span:before, .mdui-theme-primary-green #search .mdui-color-theme button span:after,
.mdui-theme-primary-grey #search .mdui-color-theme button span, .mdui-theme-primary-grey #search .mdui-color-theme button span:before, .mdui-theme-primary-grey #search .mdui-color-theme button span:after,
.mdui-theme-primary-light-blue #search .mdui-color-theme button span, .mdui-theme-primary-light-blue #search .mdui-color-theme button span:before, .mdui-theme-primary-light-blue #search .mdui-color-theme button span:after,
.mdui-theme-primary-light-green #search .mdui-color-theme button span, .mdui-theme-primary-light-green #search .mdui-color-theme button span:before, .mdui-theme-primary-light-green #search .mdui-color-theme button span:after,
.mdui-theme-primary-lime #search .mdui-color-theme button span, .mdui-theme-primary-lime #search .mdui-color-theme button span:before, .mdui-theme-primary-lime #search .mdui-color-theme button span:after,
.mdui-theme-primary-orange #search .mdui-color-theme button span, .mdui-theme-primary-orange #search .mdui-color-theme button span:before, .mdui-theme-primary-orange #search .mdui-color-theme button span:after,
.mdui-theme-primary-yellow #search .mdui-color-theme button span, .mdui-theme-primary-yellow #search .mdui-color-theme button span:before, .mdui-theme-primary-yellow #search .mdui-color-theme button span:after {
  background-color: #000;
}
