$global-background-color: hexo-theme-config('style.bg_color');
$primary-color: primary- + hexo-theme-config('style.primary_color');
$accent-color: accent- + hexo-theme-config('style.accent_color');

@import './_files/outdatedbrowser';
@import './_files/mdui.custom';
@import './_files/font-awesome';
@import './_files/global';
@import './_files/color';
@import './_files/appbar';
@import './_files/drawer';
@import './_files/shared';
@import './_files/index';
@import './_files/post';
@import './_files/posts';
@import './_files/404';
@import './_files/archive';
@import './_files/search';
@import './_files/friends';
@import './_files/galleries';
@import './_files/gallery';
@import './_files/lightgallery';
@import './_files/lg-rewrite';
@import './_files/lg-transitions';

body {
  background-color: $global-background-color;
}
