/* Pace.js
body > :not(.pace),body:before,body:after {
  -webkit-transition:opacity .4s ease-in-out;
  -moz-transition:opacity .4s ease-in-out;
  -o-transition:opacity .4s ease-in-out;
  -ms-transition:opacity .4s ease-in-out;
  transition:opacity .4s ease-in-out
}

body:not(.pace-done) > :not(.pace),body:not(.pace-done):before,body:not(.pace-done):after {
  opacity:0
}

/* Drawer userview */
.mdui-card-header-drawer {
    position: absolute;
    z-index: 1000;
    height: 72px;
    box-sizing: border-box;
    padding: 16px
}

/* Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 20px;
}


/* Slider */

.slider {
    position: relative;
    height: 400px;
    width: 100%;
}

.slider.fullscreen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider.fullscreen ul.slides {
    height: 100%;
}

.slider.fullscreen ul.indicators {
    z-index: 2;
    bottom: 30px;
}

.slider .slides {
    background-color: #9e9e9e;
    margin: 0;
    height: 400px;
}

.slider .slides li {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: inherit;
    overflow: hidden;
}

.slider .slides li img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.slider .slides li .caption {
    color: #fff;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    opacity: 0;
}

.slider .slides li .caption p {
    color: #e0e0e0;
}

.slider .slides li.active {
    z-index: 2;
}

.slider .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

.slider .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 12px;
    background-color: #e0e0e0;
    transition: background-color .3s;
    border-radius: 50%;
}

.slider .indicators .indicator-item.active {
    background-color: #4CAF50;
}

.title-covered {
    background-color: #ff4081;
    background-repeat: repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-origin: padding-box;
    background-attachment: scroll;
    box-sizing: border-box;
    flex-grow: 1;
}

.index-head-card {
    display: flex;
    margin-bottom: 16px;
}

.index-head-card .mdui-card-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}