body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card-bottom-fix {
    margin-bottom: 16px;
}

.no-padding-top {
    padding-top: 0px !important;
}

.no-padding-bottom {
    padding-bottom: 0px;
}

.no-text-decoration {
    text-decoration: none;
    color: inherit;
}

span.badge {
    min-width: 3rem;
    padding: 0 6px;
    margin-left: 14px;
    text-align: center;
    font-size: 1rem;
    line-height: 22px;
    height: 22px;
    color: #757575;
    float: right;
    box-sizing: border-box;
}

span.badge.new {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
}

span.badge.new:after {
    content: " new";
}

span.badge[data-badge-caption]::after {
    content: " " attr(data-badge-caption);
}

nav ul a span.badge {
    display: inline-block;
    float: none;
    margin-left: 4px;
    line-height: 22px;
    height: 22px;
}

.collection-item span.badge {
    margin-top: calc(0.75rem - 11px);
}

.collapsible span.badge {
    margin-top: calc(1.5rem - 11px);
}

.side-nav span.badge {
    margin-top: calc(24px - 11px);
}

.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

.pagination li {
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    vertical-align: top;
    height: 30px;
}

.pagination li a {
    color: #444;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    text-decoration: none;
}

.pagination li i {
    font-size: 2rem;
}

@media only screen and (max-width: 992px) {
    .pagination {
        width: 100%;
    }
}
