<% if (theme.busuanzi !== null) { %>
  <button class="mdui-btn mdui-ripple mdui-btn-icon" mdui-menu="{target: '#menu-index-more'}" id="index-more">
    <i class="mdui-icon material-icons">&#xe417;</i>
  </button>

  <ul class="mdui-menu" id="menu-index-more">
    <% if (is_home() && theme.busuanzi.all_site_uv === true) { %>
      <li class="mdui-menu-item">
        <a class="mdui-ripple menu-badge">
          <%= __('global.busuanzi_views') %>
          <span class="badge" id="busuanzi_value_site_uv"></span>
        </a>
      </li>
    <% } %>
    <% if (!is_home() && theme.busuanzi.post_pv === true) { %>
      <li class="mdui-menu-item">
        <a class="mdui-ripple menu-badge">
          <%= __('global.busuanzi_views') %>
          <span class="badge" id="busuanzi_value_page_pv"></span>
        </a>
      </li>
    <% } %>
  </ul>
<% } %>
