<div class="mdui-menu no-padding mdui-hidden-xs" id="menu-userview">
  <div class="menu-userview-container">
    <img class="mdui-img-circle menu-userview-avatar" src="<%= theme.style.avatar %>"/>
    <div class="menu-userview-content">
      <div class="mdui-typo-body-1"><%= config.author %></div>
      <div class="mdui-typo-caption"><%= theme.style.slogan %></div>
      <div class="flex-spacer"></div>
      <% if (theme.sns !== null) { %>
        <button class="mdui-btn mdui-color-theme-accent mdui-ripple" mdui-dialog="{target: '#contactDialog'}"><%= __('userview.contact_me') %></button>
      <% } %>
    </div>
  </div>
</div>
