.card-bottom-fix {
  margin-bottom: 16px;
}

.no-padding {
  padding: 0;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-margin-bottom ol {
  margin-bottom: 0;
}

.mdui-typo li ol, .mdui-typo li ul {
  margin: 0;
}

.no-text-decoration {
  text-decoration: none;
  color: inherit;
}

.auto-width {
  width: auto;
}

.flex-spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* 添加在<a>中 */

.menu-badge {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

span.badge {
  font-size: 1rem;
  line-height: 22px;
  float: right;
  box-sizing: border-box;
  min-width: 3rem;
  height: 22px;
  margin-left: 14px;
  padding: 0 6px;
  text-align: center;
  color: #757575;
}

span.badge.new {
  font-size: .8rem;
  font-weight: 300;
  color: #fff;
  border-radius: 2px;
  background-color: #26a69a;
}

span.badge.new:after {
  content: ' new';
}

span.badge[data-badge-caption]::after {
  content: ' ' attr(data-badge-caption);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination li {
  display: inline-block;
  height: 30px;
  text-align: center;
  vertical-align: top;
  border-radius: 2px;
}

.pagination li a {
  font-size: 1.2rem;
  line-height: 30px;
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
  color: #444;
}

.pagination li i {
  font-size: 2rem;
}

@media only screen and (max-width: 992px) {
  .pagination {
    width: 100%;
  }
}

.drawer-button span, .drawer-button span:before, .drawer-button span:after {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  position: absolute;
  background-color: black;
  width: 18px;
  height: 2px;
  border-radius: 3px;
}

.drawer-button span {
  top: 11px;
  left: 3px;
}

.drawer-button.back span {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.drawer-button span:before {
  content: '';
  top: -5px;
  left: 0;
}

.drawer-button.back span:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  top: -4px;
}

.drawer-button span:after {
  content: '';
  top: 5px;
  left: 0;
}

.drawer-button.back span:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  top: 4px;
}

.drawer-button.back span:before, .drawer-button.back span:after {
  width: 13px;
  left: 8px;
}

.mdui-toolbar {
  width: auto;
}

.lg-backdrop {
  z-index: 1600;
}
