#blog-appbar button span, #blog-appbar button span:before, #blog-appbar button span:after {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  position: absolute;
  background-color: black;
  width: 18px;
  height: 2px;
  border-radius: 3px;
}

#blog-appbar button span {
  top: 11px;
  left: 3px;
}

#blog-appbar button.back span {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

#blog-appbar button span:before {
  content: '';
  top: -5px;
  left: 0;
}

#blog-appbar button.back span:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  top: -4px;
}

#blog-appbar button span:after {
  content: '';
  top: 5px;
  left: 0;
}

#blog-appbar button.back span:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  top: 4px;
}

#blog-appbar button.back span:before, #blog-appbar button.back span:after {
  width: 13px;
  left: 8px;
}

.appbar-border-line {
  height: 32px;
  border-left: 1px solid rgba(255, 255, 255, .2);
}

.appbar-userview {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 0 4px;
  cursor: pointer;
  vertical-align: middle;
}

.appbar-userview:hover .appbar-userview-avatar {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.appbar-userview-avatar {
  width: 24px;
  height: 24px;
}

#menu-userview {
  overflow: visible;
  width: 353px;
}

#menu-userview * {
  line-height: normal;
}

#menu-userview:before {
  position: absolute;
  top: -10px;
  right: 14px;
  display: inline-block;
  content: '';
  border: 0 solid transparent;
  border-width: 0 10px 10px;
  border-bottom-color: #fff;
}

.menu-userview-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  margin: 20px;
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -ms-flex-direction: row;
}

.menu-userview-avatar {
  width: 96px;
  height: 96px;
  margin-right: 20px;
}

.menu-userview-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.menu-userview-content .mdui-typo-body-1 {
  margin-bottom: 1px;
}

#blog-appbar .search {
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  max-width: 720px;
  height: 48px;
  margin-right: 36px;
  margin-left: 48px;
  cursor: text;
  opacity: .75;
  border-radius: 3px;
  background: rgba(255, 255, 255, .15);
  -webkit-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@media (max-width: 959px) and (orientation: landscape) {
  #blog-appbar .search {
    height: 36px;
  }
}

#blog-appbar .search .icon {
  margin: auto 8px;
}

#blog-appbar .search .text {
  font-size: 16px;
  margin: auto;
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

#blog-appbar .search .text input {
  width: 100%;
  color: #fff;
  border: 0;
  outline: none;
  background: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#blog-appbar .search .text input::-webkit-input-placeholder {
  color: #fff;
}

#blog-appbar .search .text input:-ms-input-placeholder {
  color: #fff;
}

#blog-appbar .search .text input::placeholder {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  #blog-appbar .search {
    margin: 0 12px;
  }
}

div#blog-appbar .logo {
  margin-left: 12px;
  width: 24px;
  height: 24px;
}
