.drawer-overlay-none .mdui-overlay-show {
  opacity: 0;
}

.drawer-head {
  height: 64px;
  padding: 0 16px;
}

@media (max-width: 1024px) {
  .drawer-head {
    height: 60px;
  }
}

.drawer-fix {
  width: 300px;
  background-color: #fff;
}

.drawer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -ms-flex-direction: column;
}

#drawer .mdui-divider {
  min-height: 1px;
}

.mdui-drawer-close {
  -webkit-transform: translateX(-120%);
  transform: translateX(-120%);
}

.drawer-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 0;
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.drawer-footer {
  margin: 5px 24px 24px 24px;
  -webkit-box-flex: none;
  -ms-flex: none;
  flex: none;
}
