.card-bottom-fix {
  margin-bottom: 16px;
}

.no-padding {
  padding: 0;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-margin-bottom ol {
  margin-bottom: 0;
}

.mdui-typo li ol, .mdui-typo li ul {
  margin: 0;
}

.no-text-decoration {
  text-decoration: none;
  color: inherit;
}

.auto-width {
  width: auto;
}

.flex-spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* 添加在<a>中 */

.menu-badge {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

span.badge {
  font-size: 1rem;
  line-height: 22px;
  float: right;
  box-sizing: border-box;
  min-width: 3rem;
  height: 22px;
  margin-left: 14px;
  padding: 0 6px;
  text-align: center;
  color: #757575;
}

span.badge.new {
  font-size: .8rem;
  font-weight: 300;
  color: #fff;
  border-radius: 2px;
  background-color: #26a69a;
}

span.badge.new:after {
  content: ' new';
}

span.badge[data-badge-caption]::after {
  content: ' ' attr(data-badge-caption);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination li {
  display: inline-block;
  height: 30px;
  text-align: center;
  vertical-align: top;
  border-radius: 2px;
}

.pagination li a {
  font-size: 1.2rem;
  line-height: 30px;
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
  color: #444;
}

.pagination li i {
  font-size: 2rem;
}

@media only screen and (max-width: 992px) {
  .pagination {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .mdui-appbar .mdui-toolbar>.appbar-userview {
    margin: 0 8px;
  }
}

@media (max-width: 1023px) {
  .mdui-drawer {
    width: 300px;
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
  }
}

.lg-backdrop {
  z-index: 1600;
}
