<div class="mdui-appbar mdui-appbar-fixed mdui-color-white mdui-shadow-0 theme-appbar">
  <div class="mdui-toolbar mdui-color-theme theme-toolbar-top">
    <button class="mdui-btn mdui-btn-icon mdui-ripple theme-toolbar-burger">
      <i class="mdui-icon">
        <span></span>
      </i>
    </button>
  </div>
  <div class="mdui-toolbar mdui-color-theme theme-toolbar-bottom">
    <span class="theme-toolbar-title"><%= config.title %></span>
  </div>
</div>
