<div class="mdui-appbar mdui-appbar-fixed mdui-color-white mdui-shadow-0 theme-appbar">
  <div class="mdui-toolbar theme-appbar-toolbar-top">
    <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-ripple theme-appbar-toolbar-top-burger">
      <i class="mdui-icon">
        <span></span>
      </i>
    </a>
  </div>
  <div class="mdui-toolbar theme-appbar-toolbar-bottom">
    <span class="theme-appbar-toolbar-bottom-title"><%= config.title %></span>
  </div>
</div>
