<div class="mdui-appbar mdui-appbar-fixed mdui-color-white mdui-shadow-0 theme-appbar">
  <div class="mdui-toolbar theme-toolbar-top">
    <% if (is_home()) { %>
      <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-ripple theme-appbar__burger">
        <i class="mdui-icon">
          <span></span>
        </i>
      </a>
    <% } else { %>
      <a href="<%= config.root %>" class="mdui-btn mdui-btn-icon mdui-ripple theme-appbar__burger theme-appbar__burger--arrow">
        <i class="mdui-icon">
          <span></span>
        </i>
      </a>
    <% } %>
    <div class="mdui-toolbar-spacer"></div>
    <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-ripple theme-appbar__mode-switch">
      <i class="mdui-icon material-icons  theme-appbar__bright-mode">&#xe1ac;</i>
      <i class="mdui-icon material-icons  theme-appbar__dark-mode" style="display: none;">&#xe3a7;</i>
    </a>
  </div>
  <div class="mdui-toolbar theme-toolbar-bottom">
    <span class="theme-toolbar-bottom__title"><%= config.title %></span>
    <% if (theme.search === true) { %>
      <a href="<%= url_for('search.html') %>" class="mdui-textfield-icon mdui-btn mdui-btn-icon theme-toolbar-bottom__search">
        <i class="mdui-icon material-icons">&#xe8b6;</i>
      </a>
    <% } %>
  </div>
  <div class="mdui-progress theme-appbar__progress" id="progressBar">
    <div class="mdui-progress-indeterminate"></div>
  </div>
</div>
