<div class="mdui-drawer mdui-drawer-full-height theme-drawer" id="drawer">
  <!-- header -->
  <%-partial('drawer/header')%>
  <div class="theme-drawer__warpper">
    <!-- content -->
    <%-partial('drawer/content')%>
    <div class="theme-spacer"></div>
    <!-- footer -->
    <%-partial('drawer/footer')%>
  </div>
</div>
