<ul class="mdui-menu" id="menu-index-more">
  <li class="mdui-menu-item">
    <a class="mdui-ripple menu-badge">
      <%= __('global.busuanzi_views') %>
      <span class="badge" id="busuanzi_value_page_pv"></span>
    </a>
  </li>
</ul>
