<div class="mdui-container">
  <div class="mdui-textfield mdui-textfield-floating-label" id="search-form">
    <label class="mdui-textfield-label" id="search-form-label"><%= __('search') %></label>
    <input class="mdui-textfield-input" id="search"></input>
  </div>
</div>
<span id="local-search-result"></span>
