<ul class="mdui-menu" id="menu-pages">
  <li class="mdui-menu-item">
    <a href="javascript:;" class="mdui-ripple">
      Preview
    </a>
  </li>
  <li class="mdui-menu-item">
    <a href="javascript:;" class="mdui-ripple">
      Download
    </a>
  </li>
</ul>
