<ul class="mdui-menu" id="menu-qrcode">
  <li class="mdui-menu-item">
        <a class="mdui-ripple"><%= __('post.qrcode') %></a>
    </li>
    <img class="mdui-img-fluid" src="<%- qrcode(url, {
      margin: 2
    }) %>">
</ul>
