<ul class="mdui-menu" id="menu-qrcode">
  <li class="mdui-list-item" style="cursor: auto">
    <%= __('posts.qr_code') %>
  </li>
    <img class="mdui-img-fluid" src="<%- qrcode(url, {
      margin: 2
    }) %>" style="cursor: auto">
</ul>
