  <li class="mdui-menu-item">
    <%- list_tags(page.tags, {
            show_count: false,
            class: 'mdui-ripple',
            style: 'none',
            separator: '</li><li class="mdui-menu-item">'
        }) %>
