$main-class: theme-appbar;

@mixin burger-shared {
  position: absolute;
  background-color: #000;
  width: 18px;
  height: 2px;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

.#{$main-class} {
  border-bottom: 1px solid #ddd;
  transition: padding .3s cubic-bezier(0,0,.2,1);
  @media (min-width: 1024px) {
    body.mdui-drawer-body-left & {
      padding-left: 240px;
    }
  }
  &:after {
    position: absolute;
    right: 0px;
    bottom: -5px;
    left: 0px;
    width: 100%;
    height: 5px;
    content: "";
    transition: opacity 0.4s;
    pointer-events: none;
    opacity: 0;
    box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
    will-change: opacity;
  }
  &.#{$main-class}--shadow:after {
    opacity: 1;
  }
}

.#{$main-class}__burger {
  $sub-class: #{$main-class}__burger;
  span {
    @include burger-shared;
    top: 11px;
    left: 3px;
    &:before {
      @include burger-shared;
      content: '';
      top: -5px;
      left: 0;
    }
    &:after {
      @include burger-shared;
      content: '';
      top: 5px;
      left: 0;
    }
  }
  &.#{$sub-class}--menu span {
    animation-name: burger-menu;
    &:before {
      @include burger-shared;
      animation-name: burger-menu-before;
      content: '';
      top: -5px;
      left: 0;
    }
    &:after {
      @include burger-shared;
      animation-name: burger-menu-after;
      content: '';
      top: 5px;
      left: 0;
    }
  }
  &.#{$sub-class}--arrow span {
    @include burger-shared;
    top: 11px;
    left: 3px;
    animation-name: burger-arrow;
    animation-fill-mode: forwards;
    &:before {
      @include burger-shared;
      content: '';
      left: 0;
      top: -5px;
      animation-name: burger-arrow-before;
      animation-fill-mode: forwards;
    }
    &:after {
      @include burger-shared;
      content: '';
      left: 0;
      top: 5px;
      animation-name: burger-arrow-after;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes burger-arrow {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes burger-arrow-before {
  100% {
    transform: rotate(45deg);
    width: 12px;
    margin: 0 9px;
    top: -3.5px;
  }
}

@keyframes burger-arrow-after {
  100% {
    transform: rotate(-45deg);
    width: 12px;
    margin: 0 9px;
    top: 3.5px;
  }
}

@keyframes burger-menu {
  0% {
    transform: rotate(-180deg);
  }
}

@keyframes burger-menu-before {
  0% {
    transform: rotate(45deg);
    width: 12px;
    margin: 0 9px;
    top: -3.5px;
  }
}

@keyframes burger-menu-after {
  0% {
    transform: rotate(-45deg);
    width: 12px;
    margin: 0 9px;
    top: 3.5px;
  }
}
