$main-class: theme-appbar;
$sub-class: theme-toolbar;

@mixin burger-shared {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  position: absolute;
  background-color: #000;
  width: 18px;
  height: 2px;
  border-radius: 3px;
}

@mixin burger-rotate($degree) {
  -webkit-transform: rotate($degree);
  transform: rotate($degree);
  -moz-transform: rotate($degree);
}

body {
  padding-top: 128px;
}

.#{$main-class} {
  $sub-class: #{$main-class}-toolbar;
  border-bottom: 1px solid #ddd;
  transition: padding .3s cubic-bezier(0,0,.2,1);
  @media (min-width: 1024px) {
    body.mdui-drawer-body-left & {
      padding-left: 240px;
    }
  }
  &:after {
    position: absolute;
    right: 0px;
    bottom: -5px;
    left: 0px;
    width: 100%;
    height: 5px;
    content: "";
    transition: opacity 0.4s;
    pointer-events: none;
    opacity: 0;
    box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
    will-change: opacity;
  }
  &.#{$main-class}-shadow:after {
    opacity: 1;
  }
  & .#{$sub-class}-top, & .#{$sub-class}-bottom {
    height: 64px;
  }
  & .#{$sub-class}-top {
    $sub-sub-class: #{$sub-class}-top;
    & .#{$sub-sub-class}-burger {
      & span {
        @include burger-shared;
        top: 11px;
        left: 3px;
        &:before {
          @include burger-shared;
          content: '';
          top: -5px;
          left: 0;
        }
        &:after {
          @include burger-shared;
          content: '';
          top: 5px;
          left: 0;
        }
      }
      &.back span {
        @include burger-rotate(180deg);
        &:before {
          @include burger-rotate(45deg);
          width: 13px;
          left: 8px;
          top: -4px;
        }
        &:after {
          @include burger-rotate(-45deg);
          width: 13px;
          left: 8px;
          top: 4px;
        }
      }
    }
  }
  & .#{$sub-class}-bottom {
    $sub-sub-class: #{$sub-class}-bottom;
    justify-content: center;
    & .#{$sub-sub-class}-title {
      overflow: visible;
      font-size: 60px;
      font-weight: 800;
      padding-bottom: 40px;
      @media (max-width: 599px) {
        font-size: 40px;
        padding-bottom: 16px;
      }
    }
  }
}
