.theme-drawer {
  background-color: #404040;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -ms-flex-direction: column;
  i {
    color: #fff;
  }
  body:not(.mdui-locked) & {
    .theme-toolbar-top button {
      display: none;
    }
  }
  & .theme-drawer-header {
    background-color: inherit;
    height: 128px;
    .theme-drawer-header-layer-1, .theme-drawer-header-layer-2 {
      position: absolute;
      background-color: inherit;
    }
    .theme-drawer-header-layer-1 {
      font-size: 60px;
      font-weight: 800;
      @media (max-width: 599px) {
        font-size: 40px;
      }
      @media (min-width: 1024px) {
        display: none;
      }
      .theme-toolbar-top, .theme-toolbar-bottom {
        width: 100vw;
        height: 64px;
      }
      .theme-toolbar-bottom {
        justify-content: center;
        transform: translateX(280px);
        transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
      }
      .theme-toolbar-title {
        overflow: visible;
        font-size: 60px;
        font-weight: 800;
        padding-bottom: 40px;
        @media (max-width: 599px) {
          font-size: 40px;
          padding-bottom: 16px;
        }
      }
    }
    .theme-drawer-header-layer-2 {
      display: none;
      width: 100%;
      height: 128px;
      background-repeat: repeat;
      background-position: 50% 50%;
      background-size: cover;
      background-origin: padding-box;
      background-attachment: scroll;
      @media (min-width: 1024px) {
        display: inherit;
      }
      .theme-drawer-user-avatar {
        width: 48px;
        height: 48px;
        margin: 12px;
      }
      .theme-drawer-user-info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-left: 16px;
        height: 48px;
        .theme-drawer-user-author {
          font-size: 16px;
          font-weight: 500;
        }
        .theme-drawer-user-slogan {
          font-size: 12px;
          margin: 4px 0;
        }
      }
    }
  }
  & .theme-drawer-warpper {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 0;
    -webkit-box-flex: 1;
    box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    & .theme-drawer-content {
      overflow: inherit;
    }
    & .theme-drawer-footer {
      margin: 5px 24px 24px 24px;
      -webkit-box-flex: none;
      -ms-flex: none;
      flex: none;
    }
  }
}

.theme-drawer.mdui-drawer-open {
  & .theme-drawer-header {
    .theme-drawer-header-layer-1 {
      .theme-toolbar-bottom {
        transform: translateX(0px) !important;
      }
    }
  }
}
