$main-class: theme-posts;

.#{$main-class} {
  margin: 16px auto;
  width: 64%;
  max-width: 1024px;
  @media (max-width: 599px) {
    width: 92%;
  }
  .#{$main-class}-post {
    $sub-class: #{$main-class}-post;
    margin-bottom: 16px;
    .#{$sub-class}-media {
      $sub-sub-class: #{$sub-class}-media;
      height: 224px;
      background-repeat: repeat;
      background-position: 50% 50%;
      background-size: cover;
      background-origin: padding-box;
      background-attachment: scroll;
      .#{$sub-sub-class}-image {
        display: none;
      }
    }
  }
}
