<script type="text/ls-javascript" id="info-notification-script">
  (function() {
    fetch('<%= config.root + 'notification.json' %>').then(function(response) {
      return response.json()
    }).then(function(json) {
      document.querySelector('.info-notification').style.display = 'block'
      for (i in json) {
        var str = "<p>" + json[i] + "</p>";
        document.querySelector('.info-notification .content').innerHTML += str
      }
    })
  })();
</script>
