<script type="text/ls-javascript" id="post-lg-script">
  var images = document.querySelectorAll('#post-content img')
  for (i = 0; i < images.length; i++) {
    images[i].addEventListener("click", openLG);
  }
  function openLG() {
    var img_src = this.getAttribute('src');
    var img_alt = this.getAttribute('alt');
    lightGallery(this, {
      dynamic: true,
      counter: false,
      dynamicEl: [{
        "src": img_src,
        'subHtml': "<span author><%= config.author %></span><%= ' • ' + __('posts.public') %><div descr>" + img_alt + "</div>"
      }],
    });
  }
</script>
