<%
var pageTitle = page.title || '';
if (is_home()) pageTitle = theme.translations.index;
if (is_archive()) pageTitle = theme.translations.archives;
if (is_tag()) pageTitle = page.tag;
if (is_category()) pageTitle = page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
%>
<div class="mdui-toolbar mdui-color-theme card-bottom-fix mdui-shadow-4 style-1-card-actions">
  <button class="mdui-btn mdui-btn-icon mdui-ripple back-button">
    <i class="mdui-icon material-icons">&#xe5c4;</i>
  </button>
    <span class="mdui-typo-title"><%= pageTitle %></span>
    <div class="mdui-toolbar-spacer"></div>
    <a href="<%= config.root %>" class="mdui-btn mdui-btn-icon mdui-ripple "><i class="mdui-icon material-icons">&#xe88a;</i></a>
</div>
