<div class="mdui-card fix-card-top">
  <div class="mdui-card-media media-half">
    <% if (page.thumbnail_p) { %>
      <div id="backgroundImg" style="background-image: url('<%= page.thumbnail_p %>')"></div>
    <% } else { %>
      <div id="backgroundImg" style="background-image: url('<%= theme.style.bg_img %>')"></div>
    <% } %>
  </div>
</div>
