<button id="index-fab" class="mdui-fab mdui-fab-fixed mdui-ripple mdui-color-theme-accent mdui-fab-hide" onclick="smoothScroll.animateScroll( 0 );">
  <i class="mdui-icon material-icons">&#xe5d8;</i>
</button>
