<button id="button-toc" class="mdui-fab mdui-color-theme-accent mdui-ripple mdui-fab-fixed mdui-hidden-md-up" style="z-index: 9;" mdui-menu="{target: '#menu-toc', fixed: true}">
  <i class="mdui-icon material-icons">&#xe242;</i>
</button>
<%- partial('../menu/toc') %>
