<div class="theme-drawer-header">
  <div class="mdui-toolbar mdui-color-theme theme-toolbar-top"></div>
  <div class="mdui-toolbar mdui-color-theme theme-toolbar-bottom">
    <span class="theme-toolbar-title"><%= config.title %></span>
  </div>
</div>
