<div class="mdui-drawer mdui-drawer-full-height mdui-drawer-close
  <% if (is_category() || is_tag() || is_year()) { %>
    drawer-fix
  <% } %>" id="drawer" style="z-index: 2001;">
  <%- partial('now/head') %>
  <%- partial('now/content') %>
  <div class="flex-spacer"></div>
  <%- partial('footer') %>
</div>
