<script type="text/ls-javascript" id="search-to-top-script">
  document.querySelector('div.search').addEventListener('click', function() {
    smoothScroll.animateScroll(0);
  });
</script>
<script>
  var searchFunc = function(path, search_id) {
    'use strict';
    fetch(path).then(function(res) {
      return res.json();
    }).then(function(datas) {
      var $input = document.getElementById(search_id);
      var $resultContent = document.querySelector("[searchResult]");
      $input.addEventListener('input', function() {
        var str = '';
        var keywords = this.value.trim().toLowerCase().split(/[\s\-]+/);
        $resultContent.innerHTML = '';
        if (this.value.trim().length <= 0) {
          return;
        }
        // perform local searching
        datas.forEach(function(data) {
          if (typeof data.title === "undefined") return
          if (typeof data.content === "undefined") return
          var isMatch = true;
          var content_index = [];
          var data_title = data.title.trim().toLowerCase();
          var data_content = data.content.trim().replace(/<[^>]+>/g, '').toLowerCase();
          var data_url = data.url;
          var index_title = -1;
          var index_content = -1;
          var first_occur = -1;
          // only match artiles with not empty titles and contents
          if (data_title !== '' && data_content !== '') {
            keywords.forEach(function(keyword, i) {
              index_title = data_title.indexOf(keyword);
              index_content = data_content.indexOf(keyword);
              if (index_title < 0 && index_content < 0) {
                isMatch = false;
              } else {
                if (index_content < 0) {
                  index_content = 0;
                }
                if (i === 0) {
                  first_occur = index_content;
                }
              }
            });
          }
          // show search results

          if (isMatch) {
            str += '<div class="content-item">';

            str += '<div class="mdui-card card-bottom-fix <% if (theme.style.hoverable === true) { %>mdui-hoverable<% } %> mdui-center">';
            str += '<div class="posts-title mdui-typo">';
            str += '<a href="' + data_url + '" target="_self">' + data_title + '</a>'
            str += '</div>'
            str += '<div class="posts-line">'
            str += '<div class="mdui-divider"></div>'
            str += '</div>'
            str += '<div class="posts-content">'
            var content = data.content.trim().replace(/<[^>]+>/g, '');
            if (first_occur >= 0) {
              // cut out characters
              var start = first_occur - 6;
              var end = first_occur + 6;
              if (start < 0) {
                start = 0;
              }
              if (start === 0) {
                end = 10;
              }
              if (end > content.length) {
                end = content.length;
              }
              var match_content = content.substr(start, end);
              // highlight all keywords
              keywords.forEach(function(keyword) {
                var regS = new RegExp(keyword, 'gi');
                match_content = match_content.replace(regS, '<strong><mark>' + keyword + '</mark></strong>');
              })
              str += '<p class="result">' + match_content + '...</p>';
            }
            str += '</div>'
            if (typeof data.categories !== 'undefined' && typeof data.tags !== 'undefined') {
              str += '<div class="posts-bottom">'
              if (typeof data.categories !== 'undefined') {
                str += '<div class="mdui-chip">';
                str += '<span class="mdui-chip-icon"><i class="mdui-icon <% if (theme.color.layout !== 'dark') { %>mdui-text-color-black-icon<% } %> material-icons mdui-text-center">&#xe149;</i></span>';
                str += '</div>';
                str += '<div class="content mdui-typo">';
                data.categories.forEach(function(category) {
                  str += '<a href="<%= config.root %>categories/' + category + '/">';
                  str +=' <span>' + category + '</span>';
                  str += '</a>';
                })
                str += '</div>';
              }
              if (typeof data.tags !== 'undefined') {
                str += '<div class="mdui-chip">';
                str += '<span class="mdui-chip-icon"><i class="mdui-icon <% if (theme.color.layout !== 'dark') { %>mdui-text-color-black-icon<% } %> fa fa-tags mdui-text-center"></i></span>';
                str += '</div>';
                str += '<div class="content mdui-typo">';
                data.tags.forEach(function(tag) {
                  str += '<a href="<%= config.root %>tags/' + tag + '/">';
                  str += '<span>' + tag + '</span>';
                  str += '</a>';
                })
                str += '</div>';
              }
              str += '</div>';
            }
            str += '</div>';

            str += '</div>';
          }
        });
        $resultContent.innerHTML = str;
        window.postListCleanUpdate();
      });

    })
  }
</script>
<script type="text/ls-javascript" id="search-json-script">
  if (document.readyState === 'complete' || document.readyState !== 'loading') {
    searchCall();
  } else {
    document.addEventListener('DOMContentLoaded', searchCall);
  }
  function searchCall() {
    var path = '<%= config.root + config.search.path %>';
    searchFunc(path, 'search-input');
  };
</script>
