<% if(theme.comment.use === 'duoshuo') { %>
    <!-- 使用多说评论 -->
    <%- partial('widget/duoshuo') %>
<% } %>

<% if(theme.comment.use === 'disqus') { %>
    <!-- 使用 DISQUS -->
    <div id="disqus-comment" class="mdui-card-content mdui-hidden">
        <%- partial('widget/disqus') %>
    </div>
    <style>
        #disqus-comment{
            padding: 2pc;
        }
    </style>
<% } %>
