<div class="mdui-drawer mdui-hidden-sm-up" id="drawer">
  <div class="mdui-list no-padding-bottom" mdui-collapse="{accordion: true}" mdui-collapse>
    <div class="mdui-collapse-item">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-green">&#xe149;</i>
        <div class="mdui-list-item-content">Archive</div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">&#xe5cf;</i>
      </div>
      <div class="mdui-collapse-item-body mdui-list">
        archives
      </div>
    </div>
  </div>
  <div class="mdui-list no-padding-top">
    <a href="#!">
      <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">i</i>
        <div class="mdui-list-item-content">page</div>
      </li>
    </a>
  </div>
</div>
