<theme>
  <div class="mdui-dialog" id="theme">
    <div class="mdui-dialog-title">设置网站主题</div>
    <div class="mdui-dialog-content mdui-dialog-scrollbar">
      <p class="mdui-typo-title">主题色</p>
      <div class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-3">
        <div class="mdui-col">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-layout" id="layout-light" value="">
        <i class="mdui-radio-icon"></i>
        Light
      </label>
        </div>
        <div class="mdui-col">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-layout" id="layout-dark" value="dark">
        <i class="mdui-radio-icon"></i>
        Dark
      </label>
        </div>
      </div>

      <p class="mdui-typo-title mdui-text-color-theme">主色</p>
      <form class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-3">
        <div class="mdui-col mdui-text-color-amber">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-amber" value="amber">
        <i class="mdui-radio-icon"></i>
        Amber
      </label>
        </div>
        <div class="mdui-col mdui-text-color-blue">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-blue" value="blue">
        <i class="mdui-radio-icon"></i>
        Blue
      </label>
        </div>
        <div class="mdui-col mdui-text-color-blue-grey">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-blue-grey" value="blue-grey">
        <i class="mdui-radio-icon"></i>
        Blue Grey
      </label>
        </div>
        <div class="mdui-col mdui-text-color-brown">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-brown" value="brown">
        <i class="mdui-radio-icon"></i>
        Brown
      </label>
        </div>
        <div class="mdui-col mdui-text-color-cyan">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-cyan" value="cyan">
        <i class="mdui-radio-icon"></i>
        Cyan
      </label>
        </div>
        <div class="mdui-col mdui-text-color-deep-orange">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-deep-orange" value="deep-orange">
        <i class="mdui-radio-icon"></i>
        Deep Orange
      </label>
        </div>
        <div class="mdui-col mdui-text-color-deep-purple">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-deep-purple" value="deep-purple">
        <i class="mdui-radio-icon"></i>
        Deep Purple
      </label>
        </div>
        <div class="mdui-col mdui-text-color-green">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-green" value="green">
        <i class="mdui-radio-icon"></i>
        Green
      </label>
        </div>
        <div class="mdui-col mdui-text-color-grey">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-grey" value="grey">
        <i class="mdui-radio-icon"></i>
        Grey
      </label>
        </div>
        <div class="mdui-col mdui-text-color-indigo">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-indigo" value="indigo">
        <i class="mdui-radio-icon"></i>
        Indigo
      </label>
        </div>
        <div class="mdui-col mdui-text-color-light-blue">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-light-blue" value="light-blue">
        <i class="mdui-radio-icon"></i>
        Light Blue
      </label>
        </div>
        <div class="mdui-col mdui-text-color-light-green">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-light-green" value="light-green">
        <i class="mdui-radio-icon"></i>
        Light Green
      </label>
        </div>
        <div class="mdui-col mdui-text-color-lime">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-lime" value="lime">
        <i class="mdui-radio-icon"></i>
        Lime
      </label>
        </div>
        <div class="mdui-col mdui-text-color-orange">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-orange" value="orange">
        <i class="mdui-radio-icon"></i>
        Orange
      </label>
        </div>
        <div class="mdui-col mdui-text-color-pink">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-pink" value="pink">
        <i class="mdui-radio-icon"></i>
        Pink
      </label>
        </div>
        <div class="mdui-col mdui-text-color-purple">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-purple" value="purple">
        <i class="mdui-radio-icon"></i>
        Purple
      </label>
        </div>
        <div class="mdui-col mdui-text-color-red">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-red" value="red">
        <i class="mdui-radio-icon"></i>
        Red
      </label>
        </div>
        <div class="mdui-col mdui-text-color-teal">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-teal" value="teal">
        <i class="mdui-radio-icon"></i>
        Teal
      </label>
        </div>
        <div class="mdui-col mdui-text-color-yellow">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-primary" id="primary-yellow" value="yellow">
        <i class="mdui-radio-icon"></i>
        Yellow
      </label>
        </div>
      </form>

      <p class="mdui-typo-title mdui-text-color-theme-accent">强调色</p>
      <form class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-3">
        <div class="mdui-col mdui-text-color-amber">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-accent" id="accent-amber" value="amber">
        <i class="mdui-radio-icon"></i>
        Amber
      </label>
        </div>
        <div class="mdui-col mdui-text-color-blue">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-accent" id="accent-blue" value="blue">
        <i class="mdui-radio-icon"></i>
        Blue
      </label>
        </div>
        <div class="mdui-col mdui-text-color-cyan">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-accent" id="accent-cyan" value="cyan">
        <i class="mdui-radio-icon"></i>
        Cyan
      </label>
        </div>
        <div class="mdui-col mdui-text-color-deep-orange">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-accent" id="accent-deep-orange" value="deep-orange">
        <i class="mdui-radio-icon"></i>
        Deep Orange
      </label>
        </div>
        <div class="mdui-col mdui-text-color-deep-purple">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-accent" id="accent-deep-purple" value="deep-purple">
        <i class="mdui-radio-icon"></i>
        Deep Purple
      </label>
        </div>
        <div class="mdui-col mdui-text-color-green">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-accent" id="accent-green" value="green">
        <i class="mdui-radio-icon"></i>
        Green
      </label>
        </div>
        <div class="mdui-col mdui-text-color-indigo">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-accent" id="accent-indigo" value="indigo">
        <i class="mdui-radio-icon"></i>
        Indigo
      </label>
        </div>
        <div class="mdui-col mdui-text-color-light-blue">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-accent" id="accent-light-blue" value="light-blue">
        <i class="mdui-radio-icon"></i>
        Light Blue
      </label>
        </div>
        <div class="mdui-col mdui-text-color-light-green">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-accent" id="accent-light-green" value="light-green">
        <i class="mdui-radio-icon"></i>
        Light Green
      </label>
        </div>
        <div class="mdui-col mdui-text-color-lime">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-accent" id="accent-lime" value="lime">
        <i class="mdui-radio-icon"></i>
        Lime
      </label>
        </div>
        <div class="mdui-col mdui-text-color-orange">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-accent" id="accent-orange" value="orange">
        <i class="mdui-radio-icon"></i>
        Orange
      </label>
        </div>
        <div class="mdui-col mdui-text-color-pink">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-accent" id="accent-pink" value="pink">
        <i class="mdui-radio-icon"></i>
        Pink
      </label>
        </div>
        <div class="mdui-col mdui-text-color-purple">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-accent" id="accent-purple" value="purple">
        <i class="mdui-radio-icon"></i>
        Purple
      </label>
        </div>
        <div class="mdui-col mdui-text-color-red">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-accent" id="accent-red" value="red">
        <i class="mdui-radio-icon"></i>
        Red
      </label>
        </div>
        <div class="mdui-col mdui-text-color-teal">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-accent" id="accent-teal" value="teal">
        <i class="mdui-radio-icon"></i>
        Teal
      </label>
        </div>
        <div class="mdui-col mdui-text-color-yellow">
          <label class="mdui-radio mdui-m-b-1">
        <input type="radio" name="website-theme-accent" id="accent-yellow" value="yellow">
        <i class="mdui-radio-icon"></i>
        Yellow
      </label>
        </div>
      </form>
    </div>
    <div class="mdui-dialog-actions">
      <!--<button class="mdui-btn mdui-ripple mdui-float-left" mdui-dialog-cancel>恢复默认主题</button>-->
      <button class="mdui-btn mdui-ripple" mdui-dialog-confirm>确定</button>
    </div>
  </div>
</theme>
